input {
  jdbc {
    jdbc_connection_string => "jdbc:sqlserver://host.docker.internal;databaseName=Demo;user=sa;password=12345;encrypt=false"
    jdbc_user => "sa"
    jdbc_password => "12345"
    jdbc_driver_class => "com.microsoft.sqlserver.jdbc.SQLServerDriver"
	jdbc_driver_library => "/usr/share/logstash/logstash-core/lib/jars/mssql-jdbc-12.8.1.jre11.jar"
    statement => "SELECT id, name, address  FROM [dbo].[customers]"
	
	# minute - hour - day - month - weekday for each cron
    schedule => "*/10 * * * *"
	
	tracking_column => "id"
	# use_column_value => true
	# tracking_column_type => "numeric"
	clean_run => false
  }
}

filter {
	mutate {
	  remove_field => ["@timestamp", "@version"]
	}
}
output {
  elasticsearch {
    hosts => ["http://elasticsearch:9200"]
    index => "customer"
	document_id => "%{id}"
  }
  
  stdout { 
    # codec => json_lines 
	codec => rubydebug
  }
}
